LeadAlerts.json
{
  "name": "LeadAlerts",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -32,
        0
      ],
      "id": "4c95bcf0-0daa-4636-89db-fbd632d1d7ae",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d54dee11-66da-4cba-9f2c-2ff05ddbb901",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "New",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "a314f57e-0e29-44aa-9d68-34dd6220204f",
              "leftValue": "={{ DateTime.fromISO($json['Date Recieved']).plus({ days: 2 }) }}",
              "rightValue": "2026-06-22T18:26:10",
              "operator": {
                "type": "dateTime",
                "operation": "before"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        480,
        0
      ],
      "id": "2e31ef24-5500-430f-b29e-948a77b6f588",
      "name": "If2"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1kDnsqemjlrtGlkJEPaCiH8PXHLg-BvytNEIRHeJZrg8",
          "mode": "list",
          "cachedResultName": "Leads From Form",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kDnsqemjlrtGlkJEPaCiH8PXHLg-BvytNEIRHeJZrg8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kDnsqemjlrtGlkJEPaCiH8PXHLg-BvytNEIRHeJZrg8/edit#gid=0"
        },
        "filtersUI": {
          "values": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        192,
        0
      ],
      "id": "80016f67-6e7c-4e30-8e92-15677c160d9e",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "g0svfFvPMUPPNlMd",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "eranh112@gmail.com",
        "subject": "Lead needs follow up!",
        "message": "=The lead {{ $json.Name }} didn't get a call back for 2 days!\nPlease call them back as soon as you can:\n\n {{ $json.PhoneNumber }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        736,
        -16
      ],
      "id": "d0e09262-763b-486b-afbb-5ec8df9ffdbd",
      "name": "SendMail - Needs followup",
      "webhookId": "53cc5b35-ddfd-4cc4-a013-40465d61db3a",
      "credentials": {
        "gmailOAuth2": {
          "id": "wh2XQhbcNOCj5zgn",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "content": "## SCHEDULED FOLLOW-UP ALERTS\n### Runs daily, independent of new leads. It reads every lead from the sheet and uses an IF node to find leads still marked New after 2 days. Those overdue leads trigger a follow-up email so none is forgotten. It is a separate workflow with its own schedule trigger, because the intake flow only fires on new leads, so a stale lead on a quiet day would otherwise never be checked.",
        "height": 416,
        "width": 1056,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -80,
        -208
      ],
      "id": "b4d75381-ab3d-49a3-9d11-5d9524a1a666",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "If2": {
      "main": [
        [
          {
            "node": "SendMail - Needs followup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "83bc204a-eb2a-4f06-a94b-d82fde0b9456",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b841f95498d3b48a5fcd832e4e741fe811275e87c53b729b900a5ec88b629438"
  },
  "nodeGroups": [],
  "id": "a6jFsLT3qtUq6P7d",
  "tags": []
}